body {
    background-color: rgb(58, 58, 58);
    color: rgb(236, 235, 235);
    font-size: 2vw;
    text-shadow: 1px 0 black;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 24px;
}

.results {
    display: flex;
    text-align: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    background-color:rgb(54, 52, 52);
    font-size: 2vw;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    margin: 0px 12px;
    color: rgb(236, 235, 235);
}

.footer {
    background-color:rgb(54, 52, 52);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
