body {
    background-color: rgb(58, 58, 58);
    color: rgb(236, 235, 235);
    font-size: 2vw;
    text-shadow: 1px 0 black;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.results {
    display: flex;
    text-align: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

img {
    width: 10vw;
    height: 10vw;
}

button {
    background-color: rgb(54, 52, 52);
    border-radius: 12px;
    margin: 0px 12px;
}

button:hover {
    background-color: rgb(58, 58, 58);
}

.footer {
    background-color:rgb(54, 52, 52);
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.footer img {
    display: inline-block;
    width: 3vw;
    height: 2vw;
}